body {
    font-family: arial, sans-serif;
    background-image: linear-gradient(to right, rgb(250, 206, 224), rgb(215, 248, 247));
}

h1 {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0;
}

h3 {
    color: #333;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(150, 72, 104);
}

a:hover {
    color: white;
    background: rgb(31, 151, 147);
}



ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(135, 135, 135);
    font-size: 14px;
    font-weight: 100;
    line-height: 19px;
}

li:first-letter {
    text-transform: capitalize;
}

#country {
    width: 45px;
    min-height: 30px;
    border-radius: 50px;
    box-shadow: 5px 5px 2px 1px rgba(117, 116, 116, 0.2);
    margin: 10px 0;
}

.form-control {
    border-radius: 0%;
}

.form-control:focus {
    border-color: rgba(31, 151, 147, 0.8);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset,
        0 0 8px rgba(31, 151, 147, 0.6);
}

.btn-primary {
    color: black;
    background-color: rgb(59, 181, 177);
    border: 2px black solid;
    border-radius: 0%;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

.btn-danger {
    color: black;
    background-color: rgb(245, 176, 205);
    border: 2px black solid;
    border-radius: 0%;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

.btn-primary:hover {
    background-color: rgb(38, 130, 127);
    box-shadow: none;
    border: 2px black solid;
}

.btn-danger:hover {
    box-shadow: none;
    border: 2px black solid;
}


.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.weather-app {
    padding: 20px;
    border: 10px solid #222;
    background-color: white;
    box-shadow: 30px 30px 2px 1px rgba(117, 116, 116, 0.2);
}

.weather-app h3 {
    font-size: 15px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature h5:first-letter {
    text-transform: capitalize;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: #333;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
    background: transparent;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.6
}

.weather-forecast-temperatures {
    font-size: 13px;
}

.weather-forecast-temperature-min {
    opacity: 0.4;
}